* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100;
}

body {}

.cursor {
    width: 40px;
    height: 40px;
    background: #1D1D1D;
    border-radius: 50%;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 1.5rem 6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // background-color: rgba(15, 58, 83, 0.93);
    background-color: #fff;
    color: #1D1D1D;
    position: fixed;
    width: 100%;
    transition: transform 0.3s ease;
    backdrop-filter: blur;

    h2 {
        font-size: 24px;
        overflow-x: hidden;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 3rem;

        i {
            cursor: pointer;
            font-size: 20px;
        }

        li {
            text-decoration: none;
            list-style: none;
            cursor: pointer;
            font-size: 18px;
        }

        li:hover {
            border-bottom: 3px solid rgba(15, 58, 83, 0.93);
        }
    }
}

main {
    padding: 2rem 6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(223, 221, 221);
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .hero {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        

        h1 {
            margin-bottom: 5px;
        }

        p {
            opacity: 0.5;
            // margin-bottom: 40px;
        }

        .product-list {
            display: flex;
            flex-direction: column;
            gap: 3rem;



            .product {
                display: flex;
                flex-direction: column;
                margin-top: 3rem;

                h3{
                    margin-bottom: 25px;
                }

                .product-card-container {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 3rem;
                    // justify-content: space-between;

                    .product-card {
                        width: 270px;
                        height: 450px;
                        display: flex;
                        flex-direction: column;
                        // justify-content: space-between;
                        gap: 16px;
                        background-color: #fff;
                        padding: 10px;
                        border-radius: 12px;

                        .img-container {
                          width: 100%;
                          height: 50%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .info {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 30%;

                            .rating-price{
                             display: flex;
                            //  align-items: center;
                             justify-content: space-between;

                             i{
                                font-size: 20px;
                                color: yellow;
                             }
                             .price{
                                font-weight: 700;
                                opacity: 1;
                             }
                             margin-bottom: 20px;
                            }

                            p{
                                margin-bottom: 8px;
                            }


                            button {
                                width: 100%;
                                padding: 1em;
                                font-family: inherit;
                                border-radius: 10px;
                                border: none;
                                background-color: #1D1D1D;
                                color: #fff;
                                cursor: pointer;
                                margin-bottom: 10px;
                            }
                            .Add-cart-btn{
                                // background-color: rgb(180, 52, 5);
                                background: transparent;
                                color: #1D1D1D;
                                border: 1px solid black;
                            }
                            // .buy-now{
                            //   background-color: rgb(65, 19, 2);
                            // }
                            button:active {
                                transform: scale(1.02);
                            }
                        }
                    }
                }
            }


        }
    }
}