* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100;
}

.cursor {
  width: 40px;
  height: 40px;
  background: #1D1D1D;
  border-radius: 50%;
  position: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 1.5rem 6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: #1D1D1D;
  position: fixed;
  width: 100%;
  transition: transform 0.3s ease;
  backdrop-filter: blur;
}
nav h2 {
  font-size: 24px;
  overflow-x: hidden;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
nav ul i {
  cursor: pointer;
  font-size: 20px;
}
nav ul li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-size: 18px;
}
nav ul li:hover {
  border-bottom: 3px solid rgba(15, 58, 83, 0.93);
}

main {
  padding: 2rem 6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(223, 221, 221);
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .hero {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
main .hero h1 {
  margin-bottom: 5px;
}
main .hero p {
  opacity: 0.5;
}
main .hero .product-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .hero .product-list .product {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
main .hero .product-list .product h3 {
  margin-bottom: 25px;
}
main .hero .product-list .product .product-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}
main .hero .product-list .product .product-card-container .product-card {
  width: 270px;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
}
main .hero .product-list .product .product-card-container .product-card .img-container {
  width: 100%;
  height: 50%;
}
main .hero .product-list .product .product-card-container .product-card .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero .product-list .product .product-card-container .product-card .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
}
main .hero .product-list .product .product-card-container .product-card .info .rating-price {
  display: flex;
  justify-content: space-between;
}
main .hero .product-list .product .product-card-container .product-card .info .rating-price i {
  font-size: 20px;
  color: yellow;
}
main .hero .product-list .product .product-card-container .product-card .info .rating-price .price {
  font-weight: 700;
  opacity: 1;
}
main .hero .product-list .product .product-card-container .product-card .info .rating-price {
  margin-bottom: 20px;
}
main .hero .product-list .product .product-card-container .product-card .info p {
  margin-bottom: 8px;
}
main .hero .product-list .product .product-card-container .product-card .info button {
  width: 100%;
  padding: 1em;
  font-family: inherit;
  border-radius: 10px;
  border: none;
  background-color: #1D1D1D;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}
main .hero .product-list .product .product-card-container .product-card .info .Add-cart-btn {
  background: transparent;
  color: #1D1D1D;
  border: 1px solid black;
}
main .hero .product-list .product .product-card-container .product-card .info button:active {
  transform: scale(1.02);
}/*# sourceMappingURL=style.css.map */